*.ipsw
*.shsh
*.shsh2
*.so*
FirmwareBundles/
iBoot
iP*
saved/
src/
resources/ch3rryflower/
resources/ipwndfu/
resources/jailbreak/Cydia*
resources/jailbreak7/
resources/libirecovery/
resources/ramdisk/
shsh/
tmp/
